@model RazorTemplates.Models.Student

@{
    var accessLevel = ViewData["AccessLevel"] as int? ?? 0;
}

<a asp-action="Details"
   asp-controller="Assignment61"
   asp-route-id="@Model.Id">
   @Model.FullName
</a>
@if (accessLevel >= 8)
{
    <p>@Model.Grade.ToString("P")</p>
}
 
